:root {
  --nav-background-color: #FFFFFF;
  --main-background-color: #F5F5F5;
  --secondary-background-color: #2F303A;
  --third-background-color: #F5F4FA;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --white-text-color: #FFFFFF;
  --accent-color: #2196F3;
  --contacts-color: rgba(255, 255, 255, 0.6);
  --main-svg-color: #AFB1B8;
  --main-trans-duration: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

* * {
  box-sizing: border-box;
}

* *,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
  width: auto;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.header {
  background-color: var(--nav-background-color);
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
}

.logo {
  display: block;
  margin-right: 93px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo__web {
  color: var(--accent-color);
}
.logo__studio {
  color: #000000;
}
.logo__white {
  color: var(--white-text-color);
}

.navigation {
  display: flex;
  align-items: center;
}
.navigation__list {
  display: flex;
}
.navigation__list li + li {
  margin-left: 50px;
}

.navigation__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-text-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: var(--main-trans-duration);
  transition-timing-function: var(--cubic);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}

.navigation__link.active {
  color: var(--accent-color);
}
.navigation__link.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  right: 0;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contacts {
  display: flex;
}
.contacts .contacts__item + .contacts__item {
  margin-left: 50px;
}

.contacts__item--style {
  position: relative;
  display: block;
  color: var(--secondary-text-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: var(--main-trans-duration);
  transition-timing-function: var(--cubic);
}
.contacts__item--style:hover, .contacts__item--style:focus {
  color: var(--accent-color);
}
.contacts__item--style .contacts__item--icon {
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  background-color: var(--secondary-background-color);
  padding: 200px 0px 200px 0px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;
  color: var(--white-text-color);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  font-family: inherit;
}
.hero__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  border: none;
  width: 216px;
  height: 50px;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  transition-property: box-shadow;
  transition-duration: var(--main-trans-duration);
  transition-timing-function: var(--cubic);
}
.hero__button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.benefits {
  padding-top: 94px;
}
.benefits__list {
  display: flex;
}

.benefits__item {
  margin-right: 30px;
}
.benefits__item:last-child {
  margin-right: 0;
}

.benefits__item--icons {
  display: flex;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: var(--third-background-color);
  margin-bottom: 30px;
  border-radius: 4px;
}

.benefits__item--title {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.benefits__item--txt {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.job__title {
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.job__list {
  display: flex;
  justify-content: center;
}

.job__item {
  margin-right: 30px;
}
.job__item:last-child {
  margin-right: 0;
}

.job__item--thumb {
  position: relative;
  overflow: hidden;
}
.job__item--thumb > .job__item--label {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 27px;
  padding-top: 27px;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.team {
  background-color: var(--third-background-color);
}

.team__title {
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__list {
  display: flex;
}

.team__item {
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--nav-background-color);
}
.team__item:last-child {
  margin-right: 0;
}

.name__info {
  padding-top: 30px;
}

.name__info--name {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.name__info--position {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.name__info--links {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin: 16px 0px 30px 0px;
}

.item__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: var(--main-svg-color);
  transition-property: fill, background-color;
  transition-duration: var(--main-trans-duration);
  transition-timing-function: var(--cubic);
}
.item__link:hover, .item__link:focus {
  fill: var(--white-text-color);
  background-color: var(--accent-color);
}

.clients__title {
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients__list {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.clients__item--link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  fill: var(--main-svg-color);
  border: 1px solid var(--main-svg-color);
  border-radius: 4px;
  transition-property: fill, border-color;
  transition-duration: var(--main-trans-duration);
  transition-timing-function: var(--cubic);
}
.clients__item--link:hover, .clients__item--link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  background-color: var(--secondary-background-color);
}

.main-container {
  display: flex;
  align-items: baseline;
}

.adress__item {
  margin-bottom: 9px;
}
.adress__item:first-child {
  margin-top: 20px;
}

.adress__item--text {
  text-decoration: none;
  color: var(--white-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  font-weight: 400;
  transition-property: color;
  transition-duration: var(--main-trans-duration);
  transition-timing-function: var(--cubic);
}
.adress__item--text:hover, .adress__item--text:focus {
  color: var(--accent-color);
}

.adress__item--contact {
  text-decoration: none;
  color: var(--contacts-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  font-weight: 400;
  transition-property: color;
  transition-duration: var(--main-trans-duration);
  transition-timing-function: var(--cubic);
}
.adress__item--contact:hover, .adress__item--contact:focus {
  color: var(--accent-color);
}

.footer-links {
  margin-left: 70px;
}

.join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin-bottom: 20px;
}

.flinks-list {
  display: flex;
  gap: 10px;
}

.footer-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: var(--white-text-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: var(--main-trans-duration);
  transition-timing-function: var(--cubic);
}
.footer-link:hover, .footer-link:focus {
  background-color: var(--accent-color);
}

.subscribe {
  margin-left: 93px;
}
.subscribe-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  color: var(--white-text-color);
  background-color: var(--secondary-background-color);
}

.mail-btn {
  display: flex;
}

.btn-subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  height: 50px;
  width: 200px;
  padding: 10px 28px;
  margin-left: 12px;
  cursor: pointer;
}

.icon-send {
  display: inline-block;
  margin-left: 12px;
  fill: var(--white-text-color);
}

.buttons-list {
  display: flex;
  justify-content: center;
}

.buttons-item {
  margin-right: 8px;
}
.buttons-item:last-child {
  margin-right: 0;
}

.buttons {
  font-family: inherit;
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  color: var(--main-text-color);
  background-color: var(--third-background-color);
  border: none;
  cursor: pointer;
  list-style: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  transition-property: color var(--third-background-color);
  transition-duration: var(--main-trans-duration);
  transition-timing-function: var(--cubic);
}
.buttons:hover, .buttons:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.exp-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}

.exp-name {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.exp-type {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.card-txt {
  padding: 20px 24px 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.exp-item {
  transition-duration: var(--main-trans-duration);
  transition-timing-function: var(--cubic);
}
.exp-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.exp-card {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform var(--main-trans-duration) var(--cubic);
  transform: translateY(100%);
}

.overlay-txt {
  color: var(--white-text-color);
  padding: 63px 24px;
  text-align: left;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.exp-item:hover .overlay {
  transform: translate(0);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: var(--main-trans-duration) var(--cubic);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--nav-background-color);
  transition: var(--main-trans-duration) var(--cubic);
  border-radius: 4px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.close-icon {
  fill: var(--main-text-color);
  transition: fill var(--main-trans-duration) var(--cubic);
}
.close-icon:hover, .close-icon:focus {
  fill: var(--accent-color);
}

.close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--nav-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--main-text-color);
  margin-bottom: 12px;
}

.modal-label {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}

.modal-input,
.modal-txtarea {
  display: block;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  transition-property: border;
  transition-duration: var(--main-trans-duration);
  transition-timing-function: var(--cubic);
}

.modal-txtarea {
  resize: none;
  height: 120px;
  width: 448px;
  padding: 12px 16px;
}

.modal-input {
  padding: 11px 12px;
  padding-left: 42px;
  cursor: pointer;
}

.modal-input:hover,
.modal-txtarea:hover {
  border-color: var(--accent-color);
}

.modal-txtarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-group {
  position: relative;
  margin-bottom: 10px;
}
.modal-group.txt {
  margin: 0;
}
.modal-group:last-of-type {
  margin-bottom: 0;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: var(--main-text-color);
  transition: fill var(--main-trans-duration) var(--cubic);
  cursor: pointer;
}

.modal-input:hover + .modal-icon,
.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.btn-submit {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  align-items: center;
  border-radius: 4px;
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  height: 50px;
  width: 200px;
  margin: 0 auto;
  cursor: pointer;
}

.modal-checked {
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
  justify-content: center;
}

.agreement {
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: none;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.check-icon {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border-radius: 2px;
  border: 2px solid var(--main-text-color);
  fill: var(--nav-background-color);
  transition: border var(--main-trans-duration) var(--cubic), background-color var(--main-trans-duration) var(--cubic) var(--accent-color);
}

.check-hide:checked + .agreement > .check-icon {
  border: none;
  background-color: var(--accent-color);
}

.agree-txt {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin: 0 auto;
}

.check-link {
  font-size: 14px;
  line-height: 1.71;
  color: var(--accent-color);
  margin-left: 5px;
}

.checkbox {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  fill: var(--main-text-color);
}/*# sourceMappingURL=main.css.map */