.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    background-color: var(--secondary-background-color);
}

.main-container {
    display: flex;
    align-items: baseline;
}

.adress__item {
    margin-bottom: 9px;
    &:first-child {
    margin-top: 20px;
}
}

.adress__item--text {
    text-decoration: none;
    color: var(--white-text-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
    font-weight: 400;
    transition-property: color;
    transition-duration: var(--main-trans-duration);
    transition-timing-function: var(--cubic);
    &:hover, &:focus {
        color: var(--accent-color);
        }
}

.adress__item--contact {
    text-decoration: none;
    color: var(--contacts-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
    font-weight: 400;
    transition-property: color;
    transition-duration: var(--main-trans-duration);
    transition-timing-function: var(--cubic);
    &:hover, &:focus {
        color: var(--accent-color);
        }
}

.footer-links {
    margin-left: 70px;
}

.join {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-text-color);
    margin-bottom: 20px;
}

.flinks-list {
    display: flex;
    gap: 10px;

}

.footer-link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    fill: var(--white-text-color);
    background-color: rgba(255, 255, 255, 0.1);
    transition-property: background-color;
    transition-duration: var(--main-trans-duration);
    transition-timing-function: var(--cubic);
    &:hover, &:focus {
        background-color: var(--accent-color);
        }
}

.subscribe {
    margin-left: 93px;
    &-input {
            width: 358px;
            height: 50px;
            border: 1px solid rgba(255, 255, 255, 0.3);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            border-radius: 4px;
            padding-left: 16px;
            color: var(--white-text-color);
            background-color: var(--secondary-background-color);
        }
}

.mail-btn {
    display: flex;
}

.btn-subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: var(--white-text-color);
    background-color: var(--accent-color);
    border-radius: 4px;
    border: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    height: 50px;
    width: 200px;
    padding: 10px 28px;
    margin-left: 12px;
    cursor: pointer;
}

.icon-send {
    display: inline-block;
    margin-left: 12px;
    fill: var(--white-text-color);
}