.header {
    // position: absolute;
    // max-width: 1200px;
    // padding-top: 16px;
    // padding-bottom: 16px;
    background-color: var(--nav-background-color);
    border-bottom: 1px solid #ececec;
    &-container {
        margin: 0 auto;
        }
        @media screen and(min-width:$tablet){
            
        }
}

// .header__container {
// }

.header__mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    background-color: var(--nav-background-color);
    transform: translateX(100%);
    transition: transform 1000ms var(--cubic);
    z-index: 100;
    &.is-open {
        transform: translateX(0);
    }
    @media screen and(min-width: $tablet) {
        display: none;
     }   
    }

.header-desktop {

    @media screen and(max-width: $tablet) {
        display: none;
    }
    @media screen and(min-width: 768px){
        display: flex;
        
    }
}

.mobile-wrap {
    display: flex;
    justify-content: space-between;

}

.header_overlay {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  
}

.logo {
    display: block;
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-decoration: none;
    font-size: 24px;
    line-height: 1.17;
    
    &__web {
        color: var(--accent-color);
    }
    &__studio {
        color: #000000;
    }
    &__white {
        color: var(--white-text-color);
    }
    @media screen and(max-width: $tablet) {
        
    }
}

.mobile-wrap {
    align-items: center;
    @media screen and (min-width: 768px){
        display: none;
    }
}

.open_menu {
    margin-top: 10px;
    padding-bottom: 10px;
    // position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--nav-background-color);
    border: none;

    }

    .close_menu {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    background-color: var(--nav-background-color);
    border: none;
    }


.mob-nav__item {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    text-align: left;
    letter-spacing: 0.02em;
    margin-bottom: 32px;
    color: var(--main-text-color);
    &:last-child {
        margin-bottom: 302px;
    }
    
}

.mob-nav__link {
    text-decoration: none;
    color: var(--main-text-color);
}

.mob-nav__link.active {
    color: var(--accent-color);
}




.mob-contacts__item--tel {
    display: block;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    text-decoration: none;
    margin-bottom: 32px;
}

.mob-contacts__item--mail {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    text-decoration: none;
    margin-bottom: 64px;
}

.mobile_soc-links {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.mobile_soc-link {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    text-decoration: none;
    // &:first-child {
    //     margin-left: 0px;
    // }
    &::after {
        content: "";
        position: absolute;
        height: 22px;
        width: 1px;
        margin-left: 10px;
        margin-right: 10px;
        background-color: var(--secondary-text-color);
        }
}

.header-desktop {
    @media screen and(min-width:$tablet){
        display: flex;
        justify-content: space-between;
        align-items: center;  
    }
    @media screen and (min-width: $desktop){
        width: 1200px;

    }
}

.navigation__list {
    display: flex;
    gap: 50px;

}

// .navigation {
//     @media screen and(min-width:$tablet){
//         display: flex;
//         align-items: center;
//     //     &__list {
//     //             display: flex;
//     //             }
//     //         &__list li+li {
//     //             margin-left: 50px;
//     // }
//     // display: flex;
//     // align-items: center;
//     // &__list {
//     //     // display: flex;
//     //     }
//     // &__list li+li {
//     //     margin-left: 50px;
//     // }
// }}

.navigation__link {
    @media screen and(min-width:$tablet){
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--main-text-color);
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: var(--main-trans-duration);
    transition-timing-function: var(--cubic);
    &:hover, &:focus {
        color: var(--accent-color);
    }
    &.active {
        color: var(--accent-color);
        &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        bottom: 0;
        right: 0;
        background-color: var(--accent-color);
        border-radius: 2px;
        }
}
}
}

.contacts {
    display: block;
    align-items: center;
    @media screen and(min-width: 1200px) {
        display: flex;
        gap: 30px;
    }
}



// .navigation__link
// }

// .contacts {
//     // display: flex;
//     // & &__item + &__item {
//     //         margin-left: 50px;
//     //     }
// }


.contacts__item--style {
    // position: relative;
    // display: block;
    color: var(--secondary-text-color);
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: var(--main-trans-duration);
    transition-timing-function: var(--cubic);
    &:hover, &:focus {
        color: var(--accent-color);
    }
    & .contacts__item--icon {
        fill: currentColor;
        margin-right: 10px;
    }
}