.header {
    background-color: var(--nav-background-color);
    border-bottom: 1px solid #ececec;
    &-container {
        margin: 0 auto;
}}

.logo {
    display: block;
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-decoration: none;
    font-size: 24px;
    line-height: 1.17;
    &__web {
        color: var(--accent-color);
    }
    &__studio {
        color: #000000;
    }
    &__white {
        color: var(--white-text-color);
    }}



//--mobile--//

.header__mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    background-color: var(--nav-background-color);
    transform: translateX(100%);
    transition: transform 1000ms var(--cubic);
    z-index: 100;
    &.is-open {
        transform: translateX(0);
    }
    @media screen and(min-width: $tablet) {
        display: none;
     }   
    }

.mobile-wrap {
    display: flex;
    justify-content: space-between;
}

.header_overlay {
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.mob-nav__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.mobile-wrap {
    align-items: center;
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.open_menu {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--nav-background-color);
    border: none;
}

.close_menu {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    background-color: var(--nav-background-color);
    border: none;
}

.mob-nav__item {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    text-align: left;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.mob-contacts {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.mob-nav__link {
    text-decoration: none;
    color: var(--main-text-color);
}

.mob-nav__link.active {
    color: var(--accent-color);
}

.contacts-wrap {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.mob-contacts__item--tel {
    display: block;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    text-decoration: none;
}

.mob-contacts__item--mail {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    text-decoration: none;
}

.mobile_soc-links {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.mobile_soc-link {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    text-decoration: none;
    }

.mobile_soc-link::after {
    content: "";
    position: absolute;
    height: 22px;
    width: 1px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: var(--secondary-text-color);
}

.header-desktop {
    @media screen and(max-width: $tablet) {
            display: none;}
    @media screen and(min-width:$tablet){
        display: flex;
        justify-content: space-between;
        align-items: center;  
    }
    @media screen and (min-width: $desktop) {
        display: flex;
        justify-content: flex-start;
        width: 1200px;
    }
}

.navigation {
    @media screen and(min-width: $desktop) {
        margin-left: 93px;
    }
}

.navigation__list {
    display: flex;
    gap: 50px;
}

.navigation__link {
    @media screen and(min-width:$tablet){
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--main-text-color);
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: var(--main-trans-duration);
    transition-timing-function: var(--cubic);
    &:hover, &:focus {
        color: var(--accent-color);
    }
    &.active {
        color: var(--accent-color);
        &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        bottom: 0;
        right: 0;
        background-color: var(--accent-color);
        border-radius: 2px;
        }
}}}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    @media screen and(min-width: 1200px) {
        margin-left: 312px;
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
}

.contacts__item--style {
    color: var(--secondary-text-color);
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: var(--main-trans-duration);
    transition-timing-function: var(--cubic);
        &:hover, &:focus {
            color: var(--accent-color);
        }
        & .contacts__item--icon {
            fill: currentColor;
            margin-right: 10px;}}