.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    visibility: visible;
    transition: var(--main-trans-duration) var(--cubic);
    &.is-hidden {
            opacity: 0;
            pointer-events: none;
            visibility: hidden;
        }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 528px;
    height: 581px;
    padding: 40px;
    background-color: var(--nav-background-color);
    transition: var(--main-trans-duration) var(--cubic);
    border-radius: 4px;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.close-icon {
    fill: var(--main-text-color);
    transition: fill var(--main-trans-duration) var(--cubic);
    &:hover, &:focus {
            fill: var(--accent-color);
        }
}

.close-button {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--nav-background-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--main-text-color);
    margin-bottom: 12px;
}

.modal-label {
    display: block;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
    margin-bottom: 4px;
}

.modal-input,
.modal-txtarea {
    display: block;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 100%;
    transition-property: border;
    transition-duration: var(--main-trans-duration);
    transition-timing-function: var(--cubic);
}

.modal-txtarea {
    resize: none;
    height: 120px;
    width: 448px;
    padding: 12px 16px;
}

.modal-input {
    padding: 11px 12px;
    padding-left: 42px;
    cursor: pointer;
}

.modal-input:hover,
.modal-txtarea:hover {
    border-color: var(--accent-color);
}

.modal-txtarea::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.modal-group {
    position: relative;
    margin-bottom: 10px;
    &.txt {
        margin: 0;
        }
    &:last-of-type {
        margin-bottom: 0;
    }
}

.modal-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    fill: var(--main-text-color);
    transition: fill var(--main-trans-duration) var(--cubic);
    cursor: pointer;
}

.modal-input:hover+.modal-icon,
.modal-input:focus+.modal-icon {
    fill: var(--accent-color);
    border-color: var(--accent-color);
    ;
}

.btn-submit {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: var(--white-text-color);
    background-color: var(--accent-color);
    align-items: center;
    border-radius: 4px;
    border: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    height: 50px;
    width: 200px;
    margin: 0 auto;
    cursor: pointer;
}

.modal-checked {
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
    justify-content: center;
}

.agreement {
    display: flex;
    align-items: center;
    justify-content: center;
}

.check-hide {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: none;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.check-icon {
    width: 16px;
    height: 15px;
    margin-right: 7px;
    border-radius: 2px;
    border: 2px solid var(--main-text-color);
    fill: var(--nav-background-color);
    transition: border var(--main-trans-duration) var(--cubic),
    background-color var(--main-trans-duration) var(--cubic) var(--accent-color);
}

.check-hide:checked+.agreement>.check-icon {
    border: none;
    background-color: var(--accent-color);
}

.agree-txt {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    margin: 0 auto;

}

.check-link {
    font-size: 14px;
    line-height: 1.71;
    color: var(--accent-color);
    margin-left: 5px;
}

.checkbox {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 15px;
    border-radius: 2px;
    fill: var(--main-text-color);
}