.buttons-list {
    display: flex;
    justify-content: center;
}

.buttons-item {
    margin-right: 8px;
    &:last-child {
        margin-right: 0;
        }
}

.buttons {
    font-family: inherit;
    display: inline-block;
    padding: 6px 22px;
    border-radius: 4px;
    color: var(--main-text-color);
    background-color: var(--third-background-color);
    border: none;
    cursor: pointer;
    list-style: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    transition-property: color var(--third-background-color);
    transition-duration: var(--main-trans-duration);
    transition-timing-function: var(--cubic);
    &:hover, &:focus {
        background-color: var(--accent-color);
        color: var(--white-text-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        }
}

.exp-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
}

.exp-name {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.exp-type {
    margin-top: 4px;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.card-txt {
    padding: 20px 24px 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
}

.exp-item {
    transition-duration: var(--main-trans-duration);
    transition-timing-function: var(--cubic);
    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        cursor: pointer;
        }
    
}

.exp-card {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgba(33, 150, 243, 0.9);
    transition: transform var(--main-trans-duration) var(--cubic);
    transform: translateY(100%);
}

.overlay-txt {
    color: var(--white-text-color);
    padding: 63px 24px;
    text-align: left;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
}

.exp-item:hover .overlay {
    transform: translate(0);
}