:root {
    --nav-background-color: #FFFFFF;
    --main-background-color: #F5F5F5;
    --secondary-background-color: #2F303A;
    --third-background-color: #F5F4FA;
    --main-text-color: #212121;
    --secondary-text-color: #757575;
    --white-text-color: #FFFFFF;
    --accent-color: #2196F3;
    --contacts-color: rgba(255, 255, 255, 0.6);
    --main-svg-color: #AFB1B8;
    --main-trans-duration: 250ms;
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}